body {
    font-family: Lato, "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 18px;
    line-height: 1.4;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
}

ul {
    list-style-type: square;
}

a {
    color: var(--bs-link-color);
    text-decoration: none;
}

    a:hover {
        color: var(--bs-link-hover-color);
        text-decoration: underline;
    }

hr {
    margin: 2rem auto 1rem auto;
    border: none;
    border-top: var(--bs-secondary-color) 4px solid;
    width: 66.6%;
}

ul.Possibilities, ul.BigList {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

    ul.BigList > li {
        display: inline-block;
        text-align: center;
    }

h1 {
    font-size: 173%;
}

h2 {
    font-size: 144%;
}

h3 {
    font-size: 120%;
}

h1, h2, h3 {
    font-weight: 300;
    color: var(--bs-orange);
    margin-top: 1em;
    margin-bottom: 1em;
}

    h1 a, h2 a, h3 a {
        color: var(--bs-orange);
    }

        h1 a svg, h2 a svg, h3 a svg {
            color: var(--bs-link-color);
            font-size: 1rem;
        }

        h1 a:hover, h2 a:hover, h3 a:hover {
            color: var(--bs-orange);
        }

            h1 a:hover svg, h2 a:hover svg, h3 a:hover svg {
                color: var(--bs-link-hover-color);
                font-size: 1rem;
            }


h1, h2 {
    text-align: center;
}

.container {
    margin-top: 0px;
    margin-bottom: 30px;
}

nav {
    margin-bottom: 30px;
}

article {
    margin-left: 15px;
    margin-right: 15px;
}

h1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#Intro {
    text-align: center;
}

table th {
    font-weight: lighter;
    font-style: italic;
    color: var(--bs-secondary-color);
}

table td, table th {
    padding-left: 5px;
    padding-right: 5px;
}

table.Breed th {
    padding-bottom: 10px;
}

table.Breed > thead {
    border-bottom: 4px solid var(--bs-border-color);
}

table.Breed tr {
    border-bottom: 2px solid var(--bs-border-color);
}

table.Breed td {
    padding-top: 10px;
    padding-bottom: 10px;
}

table.Growth, table.Breed {
    width: 100%;
}

/* ========== Non-bootstrap setup ================================> */

.MonsterInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.SkillInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.SkillDetailRow, .Combination {
    display: flex;
    flex-wrap: wrap;
}

.SkillMonsterList {
    display: block;
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    font-size: 60%;
    font-weight: bold;
}

.SkillWithMonsters, .Operator {
    text-align: center;
}

.Operator {
    margin-left: 1em;
    margin-right: 1em;
}

.RelevantSkill {
    border: var(--bs-border-color) 2px solid;
    padding: 2px;
}

.SkillDetailRow {
    justify-content: start;
}

.Combination {
    margin-top: 2em;
    margin-bottom: 2em;
    justify-content: start;
}
