@page "/skill"
@inject IDataService DataService

<PageTitle>WonderEgg - Skills</PageTitle>

<section class="container">
    <h1>Skills</h1>
    <div class="row">
        <div class="col text-start">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle px-2 py-1" type="button" data-bs-toggle="dropdown" style="font-size: 1.25rem">
                    @if (IsSelected(SortByOptions.DEFAULT))
                    {
                        <i class="bi bi-123"></i>
                    }
                    else
                    {
                        <i class="bi bi-alphabet-uppercase"></i>
                    }
                </button>
                <ul class="dropdown-menu bg-primary-subtle p-2">
                    <li class="my-2">
                        <button class=@(GetCSS(SortByOptions.DEFAULT)) type="button" @onclick="(() => SetOption(SortByOptions.DEFAULT))">
                            Default
                        </button>
                    </li>
                    <li class="my-2">
                        <button class=@(GetCSS(SortByOptions.NAME)) type="button" @onclick="(() => SetOption(SortByOptions.NAME))">
                            Name
                        </button>
                    </li>
                    <li class="my-2">
                        <button class=@(GetCSS(SortByOptions.TYPE)) type="button" @onclick="(() => SetOption(SortByOptions.TYPE))">
                            Type
                        </button>
                    </li>
                    <li class="my-2">
                        <button class=@(GetCSS(SortByOptions.CATEGORY)) type="button" @onclick="(() => SetOption(SortByOptions.CATEGORY))">
                            Category
                        </button>
                    </li>
                    <li class="my-2">
                        <button class=@(GetCSS(SortByOptions.ATTRIBUTE)) type="button" @onclick="(() => SetOption(SortByOptions.ATTRIBUTE))">
                            Attribute
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col text-start">
            <div class="input-group" role="search">
                <label class="input-group-text text-bg-primary border-primary px-3 py-1" type="button" style="font-size: 1.25rem" @onclick="this.StateHasChanged">
                    @if (string.IsNullOrWhiteSpace(filterText))
                    {
                        <i class="bi bi-funnel"></i>
                    }
                    else
                    {
                        <i class="bi bi-funnel-fill"></i>
                    }
                </label>
                <input class="form-control border-primary-subtle" type="search" placeholder="" @bind-value="filterText" @bind-value:event="oninput" />
            </div>
        </div>
        <div class="col text-end">
            <div class="btn-group" role="group">
                <input type="radio" class="btn-check" name="btnSortOrder" id="sortUp" autocomplete="off" checked=@IsSelected(SortOrderOptions.DEFAULT) @onclick="(() => SetOption(SortOrderOptions.DEFAULT))">
                <label class="btn btn-outline-primary px-3 py-1" for="sortUp" style="font-size: 1.25rem">
                    @if (IsSelected(SortByOptions.NAME))
                    {
                        <i class="bi bi-sort-alpha-down"></i>
                    }
                    else
                    {
                        <i class="bi bi-sort-numeric-down"></i>
                    }
                </label>

                <input type="radio" class="btn-check" name="btnSortOrder" id="sortDown" autocomplete="off" checked=@IsSelected(SortOrderOptions.REVERSE) @onclick="(() => SetOption(SortOrderOptions.REVERSE))">
                <label class="btn btn-outline-primary px-3 py-1" for="sortDown" style="font-size: 1.25rem">
                    @if (IsSelected(SortByOptions.NAME))
                    {
                        <i class="bi bi-sort-alpha-up-alt"></i>
                    }
                    else
                    {
                        <i class="bi bi-sort-numeric-up-alt"></i>
                    }
                </label>
            </div>
        </div>
    </div>
    <hr />
    <SkillCardGridComponent skills=@(GetSkills()) />
</section>
