<span class=@(css)>
    <a class="icon-link icon-link-hover" href=@(href) style="--bs-icon-link-transform: translate3d(0, -.125em, 0);">
        <i class="bi bi-link-45deg invisible" />
        <span>
            @(text)
        </span>
        <i class="bi bi-link-45deg" />
    </a>
</span>
