header {
    margin-bottom: 1rem;
}

article {
    padding-top: 7.5rem;
    padding-bottom: 5rem;
}

footer {
    margin-top: 1rem;
}

.overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.50;
}
